{% extends 'base.html' %}

{% block content %}

<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Share App</h1>
            </div>
            <div class="row">
                <h3 class="text-center"><br>share & borrow from your neighbors</h3>
            </div>
            <div>
                <p class="text-center">ending consumer culture, one lawnmower at a time</p>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <p>Note-- this is the backend Flask interface</p>
        <p>For the front-end React app, please visit:</p>
        <a href="https://react--share-app.herokuapp.com/">React Share App</a>
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/image_1.jpeg" class="img-fluid p-5" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock %}